﻿/*Smarty Streets Address Verification CSS
--------------------------------------------------------------------------------*/
    #mask
{
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 999;
    border-radius: 5px;
}


.login-popup {
    display: none;
    background: #FFFFFF;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;
    /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;
    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    /* Firefox */
    -webkit-border-radius: 3px;
    /* Safari, Chrome */
    ;
}

.smarty-ui {
    position: absolute;
    z-index: 999;
    text-shadow: none;
    text-align: left;
    text-decoration: none;
}

.smarty-popup {
    padding: 20px 30px;
    background: #FFFFFF;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smarty-popup-ambiguous-header {
    color: #CEA737;
}

.smarty-popup-header {
    text-transform: uppercase;
    font: bold 10pt/1em "Helvetica", sans-serif;
    color: #CEA737;
    padding: 12px 0px 0px;
    text-align: center;
}

.smarty-popup-typed-address {
    font-family: sans-serif;
    font-size: 10pt;
    font-style: italic;
    text-align: center;
    margin: 15px 0px;
}

.smarty-choice-list .smarty-choice {
    background: #FFF;
    padding: 10px 15px;
    color: #9B9B9B;
    margin-bottom: 10px;
}

.smarty-choice {
    display: block;
    font: 300 10pt/1em sans-serif;
    text-decoration: none;
    border: 1px solid #D4D4D4;
}

.smarty-choice-alt {
    background: inherit;
    clear: both;
}

    .smarty-choice-alt .smarty-choice:first-child {
        border-top: 0;
    }

    .smarty-choice-alt .smarty-choice-abort, .smarty-choice-override {
        padding: 8px 10px;
        color: #FFF !important;
        font-size: 10pt;
        text-decoration: none;
        background: #007bff;
        border-radius: 3px;
        border: none;
    }

.smarty-choice-list .smarty-choice {
    background: #FFF !important;
    padding: 10px 15px;
    color: #9B9B9B !important;
    margin-bottom: 10px;
    text-decoration: none !important;
}

    .smarty-choice-list .smarty-choice:hover {
        background: #006fe6 !important;
        color: #fff !important;
        border: 1px solid #0056b3;
    }

a.smarty-choice:hover {
    background: #006fe6 !important;
    color: #fff !important;
    border: 1px solid #0056b3;
}

.smarty-choice-abort {
    float: left;
}

.smarty-choice {
    display: block;
    font: 300 10pt/1em sans-serif;
    text-decoration: none !important;
    border: 1px solid #D4D4D4;
}

.smarty-choice-override {
    padding: 8px 10px;
    color: #FFF !important;
    font-size: 10pt;
    text-decoration: none;
    background: #007bff;
    border-radius: 3px;
    border: none;
}

.smarty-choice-override {
    float: right;
}

.smarty-popup-invalid-header {
    color: #D0021B;
}

.smarty-tag-green {
    border: 1px solid #407513;
    color: #407513;
    background: #A6D187;
    box-shadow: inset 0 9px 15px #E3F6D5;
}

.smarty-tag-red {
    border: 1px solid #701f11 !important;
    color: #701f11 !important;
    background: #cf9082;
    box-shadow: inset 0 9px 15px #fcddd9;
}

.smarty-tag {
    position: absolute;
    overflow: hidden;
    width: 217px;
    height: 38px;
    border-radius: 25px;
    transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    padding: 5px;
}

.smarty-tag-check {
    padding-left: 18px;
    text-decoration: none;
    font: 20px/1.2em arial;
}

.smarty-tag-text {
    top: 0;
    left: 16px;
    width: 65px;
    text-align: center;
    color: #407513;
    font: 20px/1.2em arial;
    text-decoration: none;
}

.smarty-tag-text-red {
    top: 0;
    left: 16px;
    width: 50px;
    text-align: center;
    color: #701f11 !important;
    text-decoration: none;
    font: 20px/1.2em arial;
    padding: 22px;
}

.Hide {
    display: none;
}

.HideAddressVerification {
    display: none !important;
}

.Required {
    color: red;
}

#addressForm {
    margin-left: -155px !important;
    padding-top:10px;
}